---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'

import SocialLinks from '../components/SocialLinks.astro'
import Btn from '../components/Btn.astro'
import BtnDeactivated from '../components/BtnDeactivated.astro'

import EnvelopeIcon from '../components/icons/EnvelopeIcon.astro'
import DownloadIcon from '../components/icons/DownloadIcon.astro'
---

<Layout 
  title="Full Stack Developer."
  description='Hire me to create your next website or application. Full Stack Developer specialized in creating stylish and unique applications.'
>
	<main class="px-4">
    <SectionContainer class='py-44 pb-33'>
      <img
        class='size-96 mb-4'
        src='/ProfIcon.webp'
        alt='Profile Picture'
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm <span class="text-blue-500">Lucas</span>
      </h1>
    </SectionContainer>
	</main>
</Layout>
