---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'

import Badge from '../components/Badge.astro'
import SocialLinks from '../components/SocialLinks.astro'
import Btn from '../components/Btn.astro'

import EnvelopeIcon from '../components/icons/EnvelopeIcon.astro'
import DownloadIcon from '../components/icons/DownloadIcon.astro'
---

<Layout 
  title="Full Stack Developer."
  description='Hire me to create your next website or application. Full Stack Developer specialized in creating stylish and unique applications.'
>
	<main class="px-4">
    <SectionContainer class='flex flex-col items-center py-32 pb-33'>
      <img
        class='size-96 mb-4'
        src='/ProfIcon.webp'
        alt='Profile Picture'
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm <span class="text-blue-500">
          Lucas
        </span> <a
          href="https://linkedin.com/in/lucasnunezg-dev"
          target="_blank"
          rel="noopener"
          class="flex items-center hover:scale-105 transition"
        > <Badge>Available for hire</Badge> </a>
      </h1>
      <h2
        class="mb-6 text-xl text-center lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span
          class="text-yellow-800 dark:text-yellow-200"
        >
          Full Stack Developer 
        </span>
        specialized in creating
        <span
            class="text-red-800 dark:text-red-200"
        >
          stylish and unique applications.
        </span>
        Passionate about solving problems and building solutions that involve
        <span
          class="text-sky-800 dark:text-sky-200"
        >
          creativity and innovation.
        </span>
      </h2>
      <SocialLinks />
      <div
        class="ml-7 mt-10 flex flex-row justify-space-between items-center gap-x-4"
      >
        <Btn
          text='Contact Me'
          href=''
        />
        <span class="mr-2">
          OR
        </span>
        <Btn
          text='Download CV'
          href=''
          alternative
        />
      </div>
    </SectionContainer>
	</main>
</Layout>
