---
import Layout from '../layouts/Layout.astro'

import SocialLinks from '../components/SocialLinks.astro'
import Btn from '../components/Btn.astro'
import BtnDeactivated from '../components/BtnDeactivated.astro'

import EnvelopeIcon from '../components/icons/EnvelopeIcon.astro'
import DownloadIcon from '../components/icons/DownloadIcon.astro'
---

<Layout title="Full Stack Developer.">
	<main>
    <header class="flex flex-col justify-center items-center">
      <div class="text-center">
        <span>00:00</span>
        <img
          class='rounded-full size-56'
         src='profile_picture.png' 
          alt='Profile picture' 
        />
        <h1>Lucas Núñez</h1>
        <h2>Current position</h2>
        <h2 class="flex justify-center items-center gap-2.5 uppercase">
          <span
            class="size-3 bg-green-400 border-2 rounded-full 
            shadow-[0_0_2px_#fff,inset_0_0_2px_#fff,0_0_5px_#00FF00,0_0_15px_#00FF00,0_0_30px_#00FF00]"
          /> Available to hire
        </h2>
      </div>
      <SocialLinks />
      <div class="flex flex-row justify-center items-center gap-10">
        <Btn
          href='/contact/'
          text='CONTACT'
        >
          <EnvelopeIcon 
            class="size-6"
          /> 
        </Btn>
        <span>OR</span>
        <BtnDeactivated
          href=''
          text='DOWNLOAD CV'
        >
          <DownloadIcon 
            class="size-6"
          />
        </Btn>
      </div>
    </header>
	</main>
</Layout>
