---
import Layout from '../layouts/Layout.astro'
import SectionContainer from '../components/SectionContainer.astro'
---

<Layout
  title='Contact'
  description='Get in touch with me'
>
  <main class="px-4">
    <h1 class='pt-32 pb-16 text-center text-4xl font-bold mb-8'>
      About <span class="text-blue-500">Me</span>
    </h1>

    <SectionContainer
      title='Whoami'
      class='flex flex-col items-center gap-4'
    >
      <p>
        My journey in the world of computers started very young, when I was 6 years old. 
        My father, who's also a vivid enjoyer of this world, gifted me my first laptop 
        when my little sister was born. 
        It was his way of saying me that even though she was going to get almost all of 
        their attention, 
        we would always be sharing that passion for computers.
      </p>
      <p>
        From that day on, I've been learning and growing in this world. 
        Even though at first I used to only turn on the laptop to play 
        videogames or watch films, not too much time passed until "Young Me" 
        discovered RPG maker and started trying to make my way into making 
        Pokémon and Legend of Zelda hackroms.
      </p>
      <p>
        I ended up studying a vocational training in computer systems and networks, where I 
        found my attention captured my programming and web development. When I finished that 
        training, I started studying a degree in computer engineering. Nowadays I'm currently 
        in my last year of the degree and willing to become a grown-up full-stack developer.
      </p>
    </SectionContainer>
  </main>
</Layout>
