---

---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div 
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Hey, I'm Lucas, a <strong>software engineer based in Spain.</strong> I entered the world of computing when I was very young,
      making easy indie games in RPG Maker, nothing so special.
    </p>
    <p>
      The ground breaking moment was when I started to
      study a professional vocational training in computing systems and networks. One of the subjects was frontend
      web development, and I fell in love with it. I started to learn more and more about it, and I decided to 
      study a <strong>degree in Computer Engineering.</strong>
    </p>
    <p>
      I'm currently at my last year of the degree, and I enjoy working as <strong>Full Stack Developer</strong> whenever I have the
      chance. I'm also a big fan of the <strong>open source</strong> community, and I try to contribute to it as much as I can.
      I currently have a few projects in my GitHub profile, as well as I'm writing a few articles in Medium and
      post some videos in YouTube.
    </p>
  </div>

    <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" alt="Lucas" />
</article>
