---
import * as PROJECTS from '../data/projects.json'
---

<article class="flex flex-col justify-start items-center">
  <img
    class="h-96"
    src='/projects/svgl.webp' 
    alt='SVG Logo' 
  />
  <ul class="w-[42.7rem] py-6 flex flex-col gap-3 
    [&>li>span]:text-sm [&>li>span]:font-bold [&>li>span]:text-gray-700 [&>li>span]:dark:text-gray-400
    [&>li>span]:mr-3 [&>li]:ml-24 [&>li>span]:-ml-24">
    <h2 class="text-xl mb-2 text-gray-800 dark:text-gray-300 tracking-widest font-bold">
      PROJECT NAME
    </h2>
    <li><span class="absolute">CLIENT: </span>client name</li>
    <li><span class="absolute">TIME: </span>time</li>
    <li><span class="absolute">ROLE: </span>role</li>
    <li><span class="absolute">OUTCOME: </span>
      lorem ipsum dolor sit amet, consectetur adipiscing elit. sed non risus.
      lorem ipsum dolor sit amet, consectetur adipiscing elit. sed non risus.
      lorem ipsum dolor sit amet, consectetur adipiscing elit. sed non risus.
    </li>
  </ul>
  <div class="py-6 p-12 [&>p]:py-2">
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. sed non risus. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
    </p>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. sed non risus. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
    </p>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. sed non risus. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
    </p>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. sed non risus. 
      suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. 
      cras elementum ultrices diam. maecenas ligula massa, varius a, semper congue, euismod non, mi.
    </p>
  </div>
</article>
