---

---

<nav>
  <ul class="px-24">
    <lh 
      class="text-md font-bold tracking-widest text-gray-700 dark:text-gray-400"
    >
      NOW VIEWING
    </lh>
    <a 
      href="#" 
      class="block max-w-md my-12 p-6 border border-gray-200 rounded-lg shadow hover:bg-gray-100 
      dark:border-gray-700 dark:hover:bg-gray-50/5"
    >
      <h5 
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        Project Name number 1
      </h5>
      <p 
        class="font-normal text-gray-700 dark:text-gray-400"
      >
        Project description number 1
      </p>
    </a>
    <lh 
      class="mt-8 mb-4 text-md font-bold tracking-widest text-gray-700 dark:text-gray-400"
    >
      UP NEXT
    </lh>
  </ul>
</nav>
