---
const { class: className, id, title } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} w-full mx-auto lg:w-[740px] pb-56`}
>
  <h2 
    class="absolute xl:left-40 -mt-16 text-base font-bold tracking-widest 
    uppercase text-gray-500 dark:text-gray-400"
  >
    {title}
  </h2>
  <slot />
</section>
